@font-face {
    font-family: 'Lato Medium';
    src: url('fonts/Lato-Medium.ttf');
    src: url('fonts/Lato-Medium.woff');
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/Myriad Pro-Bold.otf');
    src: url('fonts/Myriad Pro-Bold.woff');
}

@font-face {
    font-family: 'Georgia Italic';
    src: url('fonts/Georgia-Italic.ttf');
    src: url('fonts/Georgia-Italic.woff');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('fonts/Lato-Bold.ttf');
    src: url('fonts/Lato-Bold.woff');
}

@font-face {
    font-family: 'Lato Heavy';
    src: url('fonts/Lato-Heavy.ttf');
    src: url('fonts/Lato-Heavy.woff');
}

@font-face {
    font-family: 'Montserrat Ultralight';
    src: url('fonts/Montserrat-UltraLight.otf');
    src: url('fonts/Montserrat-UltraLight.woff');
}

@font-face {
    font-family: 'Lato SemiBold';
    src: url('fonts/Lato-Semibold.ttf');
    src: url('fonts/Lato-Semibold.woff');
}

@font-face {
    font-family: 'Lato Regular';
    src: url('fonts/Lato-Regular.ttf');
    src: url('fonts/Lato-Regular.woff');
}

@font-face {
    font-family: 'Lato Light';
    src: url('fonts/Lato-Light.ttf');
    src: url('fonts/Lato-Light.woff');
}

@font-face {
    font-family: 'Lato Black';
    src: url('fonts/Lato-Black.ttf');
    src: url('fonts/Lato-Black.woff');
}

@font-face {
    font-family: 'Lato Thin';
    src: url('fonts/Lato-Thin.ttf');
    src: url('fonts/Lato-Thin.woff');
}

* {
    margin: 0;
    padding:0;
}

.header {
    position: relative;
    width: 100%;
    background: url("img/Headerghosthost.jpg") no-repeat center center;
    background-size: cover;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.header_container{
    display: flex; 
    justify-content: space-between;
}

.logo{
    float:left;
    width: 48%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2d2e2f;
}

.navigation{
    float: right;
    width: 52%; 
    padding-top: 20px;
    border-bottom: 1px solid #2d2e2f;  
}

.menu > li > a{
    display: none;
}

.menu > li {
    text-decoration: none;
    list-style: none;
}

.submenu{
    display: flex;
    justify-content: space-between;
}

.submenu li{
    text-decoration: none;
    list-style: none;
}

.submenu a {
    font-size: 16px;
    font-family: "Lato Medium";
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    line-height: 30px;
}

.submenu li:hover{
    padding-bottom: 22px;
    border-bottom: 1px solid #ffffff; 
}

.header h2{
    padding-top: 340px;
    text-align: center;
    font-size: 72px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
}

.header p{
    padding-top: 15px;
    padding-bottom: 340px;
    text-align: center;
    font-size: 32px;
    line-height: 45px;
    font-family: "Georgia Italic";
    color: rgb(255, 255, 255);
}

.membership{
    background: #2fac6c;
    display: flex;
}

.login{
    border-top: 126px solid #21424a;
    border-right: 30px solid transparent;
    height: 0;
    width: 50%;
}

.register{
    width: 50%;
}

.membership p > a{
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-family: "Lato Bold";
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.register p{
    text-align: center;
    line-height: 123px;
    cursor: pointer;
}

.login p {
    text-align: center;
    margin-top: -123px;
    line-height: 120px;
    cursor: pointer;
}

.domain_container h2{
    margin-top: 85px;
    font-size: 24px;
    font-family: "Lato Heavy";
    color: rgb(56, 55, 55);
    text-align: center;
}

.domain_container p{
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 16px;
    font-family: "Montserrat Ultralight";
    color: rgb(162, 162, 162);
    text-align: center;
}

.search form{
    width: 74%;
    border: 1px solid #d9d9d9;
    margin: 0 auto;
    height: 50px;
    margin-bottom: 40px;
    font-size: 0;
}

.search form span{
    font-size: 16px;
    font-family: "Lato Regular";
    color: rgb(203, 203, 203);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.search select{
    border: none;
    width: 98px;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    font-family: "Lato Regular";
    color: rgb(203, 203, 203);
    text-align: left;
    background-image: url(img/fa-angle-down.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;
}


.search select::-ms-expand {
    display: none;
}

.search select option{
    border: none;
    width: 9%;
    font-size: 16px;
    font-family: "Lato Regular";
    color: rgb(203, 203, 203);
    text-align: left;
    padding-left: 0px;
}

.search input{
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-top: none;
    border-bottom: none;
    width: 82%;
    font-size: 15px;
    line-height: 30px;
    font-family: "Lato SemiBold";
    color: rgb(134, 134, 134);
    text-align: left;
    padding-left: 15px;
}

.domaintable table{
    width: 74%;
    margin: 0 auto;
    margin-bottom: 90px;
    padding: 15px 25px;
    border: 1px solid #d9d9d9;
    border-spacing: 5px;
}

.domaintable tr {
    cursor: pointer;
}

.domaintable tr:hover {
    background: rgba(203, 203, 203,0.2);
}

.domaintable tr:first-child th {
    border-top: none;
}

.domaintable th:first-child {
    border-left: none;
}

.domaintable th {
    position: relative;
    width: 25%;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    font-family: "Lato Regular";
    color: rgb(203, 203, 203);
    border: 1px solid rgb(203, 203, 203);
    border-bottom: none;
    border-right: none;
}

.quadro{
    position: absolute;
    left: 234px;
    bottom: -11px;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    border: none;
    z-index: 1;
}

.packages {
    background: url("img/Packages.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.packages_container{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #dbdbdb;   
}

.pack{
    display: block;
    width: 22%;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #ffffff;
    border: none;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0,0.2);
}

.pack:first-child:hover{
    box-shadow: 0px 4px 4px 3px #f9d423;
}
.pack:nth-child(2n):hover{
    box-shadow: 0px 4px 4px 3px #7f8c8d;
}
.pack:nth-child(3n):hover{
    box-shadow: 0px 4px 4px 3px #f85f40;
}
.pack:nth-child(4n):hover{
    box-shadow: 0px 4px 4px 3px #1abc9c;
}

.pack:first-child{ 
    border-top: 5px solid #f9d423;
}
.pack:nth-child(2n){ 
    border-top: 5px solid #7f8c8d;
}
.pack:nth-child(3n){ 
    border-top: 5px solid #f85f40;
}
.pack:nth-child(4n){ 
    border-top: 5px solid #1abc9c;
}

.namepack{
    padding-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid #dfdfdf;
}
.namepack p{
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: "Lato Bold";
    color: rgb(40, 40, 40);
    text-align: center;
    text-transform: uppercase;
}

.datapack{
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
}

.datalist li{
    list-style: none;
    font-size: 16px;
    font-family: "Lato Light";
    color: rgb(180, 180, 180);
    text-align: left;
    line-height: 30px;
}

.datalist li span{
    list-style: none;
    font-size: 16px;
    font-family: "Lato SemiBold";
    color: #f9d423;
    text-align: left;
    line-height: 30px;
    float: right;
}

.pricepack{
    cursor: pointer;
}

.pricepack h2{
    padding-top: 35px;
    text-align: center;
    width: 41%;
    margin: 0 auto;
    border-bottom: 3px solid #f9d423;
    font-size: 23px;
    font-family: "Lato Bold";
    color: rgb(44, 44, 44);
}

.pricepack h2 span:first-child{
    font-family: "Lato Heavy";
    font-size: 20px;
    color: rgb(44, 44, 44);
}

.pricepack h2 span:nth-child(2n){
    font-family: "Lato Regular";
    font-size: 13px;
    color: #8d8d8d;
}

.pricepack p {
    padding-top: 15px;
    padding-bottom: 35px;
    text-align: center;
    width: 41%;
    margin: 0 auto;
}

.pricepack p a{
    padding-top: 15px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 16px;
    font-family: "Lato Bold";
    color: rgb(40, 40, 40);
    text-decoration: none;
}

.pricepack:hover p a{
    padding-top: 15px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 16px;
    font-family: "Lato Bold";
    color: #f9d423;
    text-decoration: none;
}

.pack:nth-child(2n) .datalist li span{
    color: #7f8c8d;
}
.pack:nth-child(3n) .datalist li span{
    color: #f85f40;
}
.pack:nth-child(4n) .datalist li span{
    color: #1abc9c;
}

.pack:nth-child(2n) .pricepack h2{
    border-bottom: 3px solid #7f8c8d;
}
.pack:nth-child(3n) .pricepack h2{
    border-bottom: 3px solid #f85f40;
}
.pack:nth-child(4n) .pricepack h2{
    border-bottom: 3px solid #1abc9c;
}

.pack:nth-child(2n) .pricepack:hover p a{
    color: #7f8c8d;
}
.pack:nth-child(3n) .pricepack:hover p a{
    color: #f85f40;
}
.pack:nth-child(4n) .pricepack:hover p a{
    color: #1abc9c;
}

.pack:nth-child(2n) .c100 > span{
    color: #7f8c8d;
}
.pack:nth-child(2n) .c100:hover > span{
    color: #7f8c8d;
}
.pack:nth-child(2n) .c100 .bar {
    border: 0.08em solid #7f8c8d;
}
.pack:nth-child(2n) .c100.p75 .fill {
    border: 0.08em solid #7f8c8d;
}

.pack:nth-child(3n) .c100 > span{
    color: #f85f40;
}
.pack:nth-child(3n) .c100:hover > span{
    color: #f85f40;
}
.pack:nth-child(3n) .c100 .bar {
    border: 0.08em solid #f85f40;
}
.pack:nth-child(3n) .c100.p75 .fill {
    border: 0.08em solid #f85f40;
}

.pack:nth-child(4n) .c100 > span{
    color: #1abc9c;
}
.pack:nth-child(4n) .c100:hover > span{
    color: #1abc9c;
}
.pack:nth-child(4n) .c100.p100 .fill {
    border: 0.08em solid #1abc9c;
}
.pack:nth-child(4n) .c100 .bar {
    border: 0.08em solid #1abc9c;
}


.aboutus_container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 105px;
}

.story:first-child{
    width: 50%;
    border-right: 2px dotted #dbdbdb; 
}

.story h2 span:first-child{
    font-size: 35px;
    font-family: "Lato Black";
    color: rgb(48, 48, 48);
    text-align: left;
}

.story h2 span:nth-child(2n){
    font-size: 35px;
    font-family: "Lato SemiBold";
    color: rgb(48, 48, 48);
    text-align: left;
}

.story p{
    width: 73%;
    padding-top: 30px;
    line-height: 25px;
    font-size: 18px;
    font-family: "Lato Thin";
    color: rgb(116, 116, 116);
    text-align: left;     
}

.team{
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding-left: 100px;
}

.teamworker img {
    display: block;
    margin: 0 auto;
}

.teamworker > a > img {
    border: 5px solid #e5e5e5;
    border-radius: 50%;
}

.teamworker > a:hover > img {
    border: 5px solid #1f89ba;
    border-radius: 50%;
}

.teamworker h2{
    font-size: 17px;
    font-family: "Lato SemiBold";
    color: rgb(48, 48, 48);
    text-align: center;
    padding-top: 10px;
}

.teamworker p{
    font-size: 15px;
    font-family: "Lato regular";
    color: rgb(142, 142, 142);
    text-align: center;
    padding-top: 5px;
}

.workersocial{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.workersocial i{
    color: #bfbfbf;
}

.workersocial i:hover{
    color: #1f89ba;
}

.feedback {
    background: url("img/sliderimage.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.clientfeedbacks{
    display: flex;
  

}

.comments{
    display: block;
    margin: 0 auto;
    width: 78%;
}

.comments h2{
    font-size: 20px;
    font-family: "Lato Light";
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 15px;
    line-height: 30px;
}

.clientname{
    width: 30%;
    display: block;
    margin: 0 auto;
}

.comments p{
    font-size: 20px;
    font-family: "Lato Bold";
    color: rgb(255, 255, 255);
    text-align: left;
    border-right: 1px solid #969696;
    margin-right: 70px;
}

.fade.slick-initialized.slick-slider, .slick-list.draggable, .slick-track {
    width: 1100px !important;
    margin: 0 auto;
    height: 190px;
}

.comments.slick-slide{  
    width: 70% !important;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 1;
}

.comments.slick-slide[data-slick-index='2'], .comments.slick-slide[data-slick-index='1']{ 
    left: 0px!important;
    top: -196px!important;
}

.comments.slick-slide[data-slick-index='1']{ 
    left: 0px!important;
    top: -98px!important;
}

button.slick-prev.slick-arrow, button.slick-next.slick-arrow{
    opacity: 0;
}

ul.slick-dots{
    position: relative;
    display: flex;
    list-style: none;
    top: -130px;
    left: 615px;
}

button#slick-slide-control02, button#slick-slide-control01, button#slick-slide-control00{
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0px 10px;
    border: 1px soldid white;
    border-radius: 50%;
    background: transparent;
    content: ''; 
}

.functions_container{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.boxicon{
    height: 60px;
}

.icon {
    height: 60px;
    width: 60px;
    background: #f1c40f;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
}

.features:nth-child(2n) .icon {
    height: 60px;
    width: 60px;
    background: #0faff1;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
}

.features:nth-child(3n) .icon {
    height: 60px;
    width: 60px;
    background: #95a5a6;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
}

.features:nth-child(4n) .icon {
    height: 60px;
    width: 60px;
    background: #f1540f;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
} 

.icon:hover {
    background: #f1c40f;
    border: 3px solid #f1c40f;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0,0.2);
}

.features:nth-child(2n) .icon:hover {
    background: #0faff1;
    border: 3px solid #0faff1;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0,0.2);
}

.features:nth-child(3n) .icon:hover {
    background: #95a5a6;
    border: 3px solid #95a5a6;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0,0.2);
}

.features:nth-child(4n) .icon:hover {
    background: #f1540f;
    border: 3px solid #f1540f;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0,0.2);
}

.icon i {
    font-size: 25px;
    color: white;
    transform: translate(155%, 70%);
}

.icon:hover i {
    font-size: 30px;
    color: white;
    transform: translate(120%, 50%);
}

.icon i.fas.fa-cloud {
    font-size: 25px;
    color: white;
    transform: translate(50%, 65%);
}

.icon:hover i.fas.fa-cloud {
    font-size: 30px;
    color: white;
    transform: translate(35%, 50%);
}

.icon i.fas.fa-arrows-alt {
    font-size: 25px;
    color: white;
    transform: translate(75%, 70%);
}

.icon:hover i.fas.fa-arrows-alt {
    font-size: 30px;
    color: white;
    transform: translate(55%, 50%);
}

.icon i.fas.fa-comments {
    font-size: 25px;
    color: white;
    transform: translate(60%, 65%);
}

.icon:hover i.fas.fa-comments {
    font-size: 30px;
    color: white;
    transform: translate(40%, 50%);
}

.features h2{
    font-size: 18px;
    font-family: "Lato Heavy";
    color: rgb(48, 48, 48);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}

.features {
    width: 24%;
}

.features p{
    font-size: 16px;
    font-family: "Lato Light";
    color: rgb(126, 126, 126);
    text-align: center;
    line-height: 25px;
    padding-bottom: 95px;
}

.footer{
    background-color: #2a2a2a;
    padding-top: 25px;
}

.footerheader{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #4a4a4a;
}

.footerlogo{
    float: left;
}

.footernav{
    width: 40%;
}

.footermenu li{
    list-style: none; 
}

.footermenu li a i{
    display: none; 
}

.footersubmenu{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.footersubmenu li a{
    text-decoration: none;
    font-size: 13px;
    font-family: "Lato Medium";
    color: #606060;
}

.footersubmenu li a:hover{
    text-decoration: none;
    font-size: 13px;
    font-family: "Lato Medium";
    color: white;
}

.footerbottom{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.footerinfo:first-child{
    width: 32%;
    border-right: 1px solid #4a4a4a;
}

.footerinfo:nth-child(2n){
    width: 42%;
    border-right: 1px solid #4a4a4a;
}

.footerinfo:nth-child(3n){
    border-right: none;
    width: 26%;
}

.footerinfo h2{
    width: 88%;
    text-align: left;
    font-size: 15px;
    font-family: "Lato Light";
    color: rgb(104, 104, 104);
    padding-top: 20px;
    line-height: 25px;
    padding-bottom: 20px;
}

.footerinfo h3{
    text-align: left;
    font-size: 15px;
    font-family: "Lato Light";
    color: rgb(104, 104, 104);
    padding-bottom: 20px;
}

.footerinfo h3 span{
    font-family: "Lato SemiBold";
}

.bottommenu{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 0 auto;
    padding-top: 20px;
}

.collumnmenu li{
    list-style: none;
}

.collumnmenu li a{
    text-decoration: none;
    line-height: 30px;
    font-size: 15px;
    font-family: "Lato Light";
    color: rgb(104, 104, 104);
    text-align: left;
}

.collumnmenu li a:hover{
    text-decoration: none;
    line-height: 30px;
    font-size: 15px;
    font-family: "Lato Light";
    color: white;
    text-align: left;
}

.footercontacts{
    padding-top: 20px;
    width: 73%;
    float: right;
}

.tel a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Lato SemiBold";
    color: rgb(104, 104, 104);
    text-align: left;
    line-height: 30px;
}

.email a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Lato Light";
    color: rgb(104, 104, 104);
    text-align: left;
    line-height: 30px;
}

.location a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Lato Light";
    color: rgb(104, 104, 104);
    text-align: left;
    line-height: 30px;
}

@media (max-width: 768px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }

    .navigation {
        width: 70%;
    }

    .header h2 {
        padding-top: 145px;
    }

    .header p {
        padding-bottom: 145px;
    }

    .search select {
        width: 15%;
    }

    .search input {
        width: 70%;
    }

    .packages_container {
        flex-wrap: wrap;
    }

    .pack {
        width: 24%;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .namepack p {
        padding-top: 20px;
        font-size: 12px;
    }

    .datalist li {
        font-size: 12px;
    }

    .datalist li span {
        font-size: 12px;
    }

    .pricepack p a {
        font-size: 15px;
    }

    .pricepack p {
        width: 60%;
    }

    .aboutus_container {
        margin-top: 40px;
        display: block;
        margin-bottom: 40px;
    }

    .story:first-child {
        width: 100%;
        border-right: none;
        padding-bottom: 20px;
        border-bottom: 2px dotted #dbdbdb;
    }

    .story h2 {
        text-align: center;
    }

    .story p {
        margin: 0 auto;
    }

    .team {
        display: flex;
        justify-content: space-between;
        width: 65%;
        padding-left: 0px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .clientname {
        width: 38%;
    }

    .owl-pagination {
        margin-left: 430px;
    }

    .functions_container {
        flex-wrap: wrap;
        padding-top: 70px;
    }

    .features {
        width: 50%;
    }

    .features p {
        width: 78%;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .footernav {
        width: 60%;
    }

    .footerheader {
        padding-bottom: 20px;
    }

    .footerbottom {
        display: block;
        margin-top: 0px;
        padding-bottom: 160px;
    }

    .bottommenu {
        width: 80%;
    }

    .footerinfo:first-child {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #4a4a4a;
    }

    .footerinfo h2 {
        text-align: center;
        margin: 0 auto;
    }

    .footerinfo h3 {
        text-align: center;
    }

    .footerinfo:nth-child(2n) {
        width: 50%;
        border-right: none;
        border-right: 1px solid #4a4a4a;
        float: left;
        margin-top: 20px;
    }

    .footerinfo:nth-child(3n) {
        border-right: none;
        width: 220%;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .logo{
        float: left;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: none;
    }

    .navigation{
        float: right;
        margin: 0 auto; 
        padding-top: 25px;
        padding-bottom: 20px;
        border-bottom: none;  
    }

    .menu > li > a{
        display: block;
        margin: 0 auto;
        width: 16px;
    }

    .menu > li > a > i.fas.fa-bars{
        text-align: center;
        color: white;
    }

    .submenu {
        display: none;
        position: absolute;
        right: 0px; 
        text-align: left;
        width: 100%;
        top: 70px;
    }

    .submenu li:hover{
        padding-bottom: 0px;
        border-bottom: none; 
    }

    .submenu > li > a {
        display: block;
        line-height: 67px;
        border-bottom: 1px solid black;
        font-size: 25px;
    }

    ul.submenu > li > a:hover {
        color: black;
    }
    
    ul.menu > li:hover > ul.submenu {
        display: block;
        background-color: #4a4a4a;
    }

    .register p {
        line-height: 80px;
    }

    .login {
        border-top: 85px solid #21424a;
        border-right: 25px solid transparent;
        height: 0;
        width: 50%;
        cursor: pointer;
    }

    .login p {
        text-align: center;
        padding-top: 64px;
        padding-bottom: 50px;
        margin-top: -168px;
    }

    .domain_container h2 {
        margin-top: 40px;
        font-size: 24px;
        font-family: "Lato Heavy";
        color: rgb(56, 55, 55);
        text-align: center;
    }

    .search select {
        width: 26%;
        padding-left: 5px;
    }

    .search input {
        width: 50%;
        padding-left: 5px;
    }

    .pack {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .namepack p {
        font-size: 18px;
    }

    .datalist li span {
        font-size: 20px;
    }

    .datalist li {
        font-size: 20px;
    }

    .pricepack p a{
        padding-bottom: 35px;
        font-size: 20px;
    }
    
    .pricepack:hover p a{
        padding-bottom: 35px;
        font-size: 20px;
    }

    .story p {
        width: 86%;
    }

    .team {
        display: block;
        width: 30%;
    }

    .workersocial {
        padding-bottom: 30px;
    }

    .aboutus_container {
        margin-bottom: 0px;
    }

    .feedback{
        display: none;
    }

    .functions_container {
        flex-wrap: wrap;
        padding-top: 20px;
        border-top: 2px dotted #dbdbdb;
    }

    .bottommenu {
        width: 70%;
        padding-top: 0px;
    }

    .footerinfo:nth-child(2n) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #4a4a4a;
        float: none;
        padding-bottom: 20px;
    }

    .footercontacts {
        padding-top: 20px;
        width: 75%;
        float: none;
        margin: 0 auto;
    }

    .footerinfo:nth-child(3n) {
        border-right: none;
        width: 100%;
        margin-top: 0px;
    }

    .footerbottom {
        display: block;
        margin-top: 0px;
        padding-bottom: 20px;
    }
}


