@font-face {
  font-family: 'Gentium Book Basic Bold';
  src: url('fonts/GentiumBookBasic-Bold.ttf');
  src: url('fonts/GentiumBookBasic-Bold.woff');
}

@font-face {
  font-family: 'YesevaOne Regular';
  src: url('fonts/YesevaOne-Regular.ttf');
  src: url('fonts/YesevaOne-Regular.woff');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('fonts/Lato-Regular.ttf');
  src: url('fonts/Lato-Regular.woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  font-family: 'Oxygen', sans-serif;
  min-height: 100%;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 30px;
}

header {
  display: flex;
  justify-content: space-between;
}

.name-container {
  display: flex;
  margin: 0 0 0 20px;
}

.name-container p {
  margin: 0 10px 0 0;
  font-size: 28px;
}

.profile {
  margin: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #333
}

.profile ul li {
  list-style: none;
}

.profile ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  display: block;
}

.profile ul li a:hover {
  background: #ccc;
  border-radius: 4px;
}

h1 {
  color: #333;
  font-size: 64px;
  margin: 20px;
}

.project-list {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;  
}

.project-list li {
  list-style: none;
  margin: 10px;
}

.project-list li a {
  display: block;
  height: 400px;
  width: 300px;
  background: #ccc;
  text-decoration: none;
  color: #333;
  text-align: center;
  font-weight: bold;
  transition: background 0.5s, color 0.5s;
}

.project-list li a:hover {
  background: #333;
  color: #ccc;
}

.project-list li a img {
  height: 340px;
  width: 280px;
  margin: 10px;
}

footer {
  background: #333;
  bottom:0; 
  margin-top: 70px;
  color: #ccc;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width:100%; 
}

.swiper-container {
  width: 720px;
  height: 350px;
  margin: 0 auto;
  background: rgba(201,201,201,0.3);
  border: 5px solid rgba(124,124,124,0.5);
  box-shadow: 10px 10px 20px 0px rgba(201,201,201,1);
}
li.swiper-slide {
  width: 720px;
  height: 350px;
  list-style: none;
}
.swiper-pagination {
  display: none;
}

.swiper-button-prev {
  left: 280px;
  top: 60%;
  width: 60px;
  height: 60px;
  border: 5px solid rgba(124,124,124,0.5);
  border-radius: 50%;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  box-shadow: 3px 3px 8px 0px rgba(201,201,201,1);
}

.swiper-button-next {
  right: 280px;
  top: 60%;
  width: 60px;
  height: 60px;
  border: 5px solid rgba(124,124,124,0.5);
  border-radius: 50%;
}

.description{
  float: left;
  padding: 50px 40px;
}

.description h2 span{
  font-size: 25px;
  font-family: "Gentium Book Basic Bold";
  color: rgba(124,124,124,0.9);
}

.description h2,h3 {
  font-size: 18px;
  font-family: "YesevaOne Regular";
  color: grey;
  padding-bottom: 15px;
}

.description h3 {
  padding-bottom: 10px;
  padding-left: 10px;
}

.description p {
  font-size: 18px;
  font-family: "Lato Regular";
  color: grey;
  padding-left: 20px;
  padding-bottom: 40px;
}

.description button  {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  border: none;
  margin-left: 20px;
  border: 5px solid rgba(124,124,124,0.5);
  cursor: pointer;
}

.description button p{
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato Regular";
  text-align: left;
  color: grey;
  padding-left: 20px;
}

.description button i.fas.fa-angle-right{
  font-size: 60px;
  line-height: 70px;
  color: grey;
  width: 36%;
}


img {
  height: 350px;
  width: 290px;
  float: right;  
  border-left: 5px solid rgba(124,124,124,0.5);
}

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
  }
}



